# File created for CIS benchmark
# CIS rule 6_2_1_3
[Journal]
SystemMaxUse={{ suse15cis_journald_systemmaxuse }}
SystemKeepFree={{ suse15cis_journald_systemkeepfree }}
RuntimeMaxUse={{ suse15cis_journald_runtimemaxuse }}
RuntimeKeepFree={{ suse15cis_journald_runtimekeepfree }}
MaxFileSec={{ suse15cis_journald_maxfilesec }}
