---
- name: "6.2.1.1 | PATCH | Ensure journald service is enabled and active"
  when: suse15cis_rule_6_2_1_1
  tags:
    - level1-server
    - level1-workstation
    - audit
    - journald
    - rule_6.2.1.1
  ansible.builtin.systemd:
    name: systemd-journald.service
    masked: false
    state: started

- name: "6.2.1.2 | PATCH | Ensure journald log file access is configured"
  when: suse15cis_rule_6_2_1_2
  tags:
    - level1-server
    - level1-workstation
    - audit
    - journald
    - rule_6.2.1.2
  block:
    - name: "6.2.1.2 | PATCH | Ensure journald log file access is configured | Default file permissions"
      ansible.builtin.file:
        path: /usr/lib/tmpfiles.d/systemd.conf
        mode: 'u-x,g-wx,o-rwx'

    - name: "6.2.1.2 | AUDIT | Ensure journald log file access is configured | Check for override file"
      ansible.builtin.stat:
        path: /etc/tmpfiles.d/systemd.conf
      register: discovered_tmpfile_override

    - name: "6.2.1.2 | AUDIT | Ensure journald log file access is configured | If override file check for journal"
      when: discovered_tmpfile_override.stat.exists
      ansible.builtin.shell: grep -E 'z /var/log/journal/%m/system.journal \d*' /usr/lib/tmpfiles.d/systemd.conf
      changed_when: false
      failed_when: discovered_journald_fileperms_override.rc not in [ 0, 1 ]
      register: discovered_journald_fileperms_override

    - name: "6.2.1.2 | AUDIT | Ensure journald log file access is configured | Warning if override found"
      when:
        - discovered_tmpfile_override.stat.exists
        - discovered_journald_fileperms_override.stdout | length > 0
      ansible.builtin.debug:
        msg: "Warning!! - tmpfiles override found /usr/lib/tmpfiles.d/systemd.conf affecting journald files please confirm matches site policy"

    - name: "6.2.1.2 | AUDIT | Ensure journald log file access is configured | Warning if override found"
      when:
        - discovered_tmpfile_override.stat.exists
        - discovered_journald_fileperms_override.stdout | length > 0
      ansible.builtin.import_tasks:
        file: warning_facts.yml
      vars:
        warn_control_id: "6.2.1.2"

- name: "6.2.1.2 | PATCH | Ensure journald log file access is configured - AUTOMATION"
  when:
    - suse15cis_rule_6_2_1_2
    - suse15cis_rule_6_2_1_2_automation
  tags:
    - level1-server
    - level1-workstation
    - audit
    - journald
    - rule_6.2.1.2
  block:
    - name: "6.2.1.2 | PATCH | Count every permission over 0640"
      ansible.builtin.shell: "grep -P '^[a-zA-Z](?:\\+!?|!)?\\s+/\\S+\\s+~?(?:[0-7]6[4-7][1-7]|[0-7]7[0-7][0-7])\\s' /usr/lib/tmpfiles.d/systemd.conf | wc -l"
      register: perm_count
      changed_when: false

    - name: "6.2.1.2 | PATCH | Adjust permission to 0640"
      ansible.builtin.lineinfile:
        path: /usr/lib/tmpfiles.d/systemd.conf
        regexp: '^([a-zA-Z](?:\+!?|!)?\s+/\S+\s+~?)(?:[0-7]6[4-7][1-7]|[0-7]7[0-7][0-7])(\s+.+)$'
        line: '\g<1>0640\2'
        backrefs: true
        backup: true
      loop: "{{ range(0, perm_count.stdout | int) | list }}"

    - name: "6.2.1.2 | PATCH | Count every permission where others have rights over 0"
      ansible.builtin.shell: "grep -P '^[a-zA-Z](?:\\+!?|!)?\\s+/\\S+\\s+~?[0-7]?[0-7]?[0-7]?(?:[1-7])\\s' /usr/lib/tmpfiles.d/systemd.conf | wc -l"
      register: perm_count
      changed_when: false

    - name: "6.2.1.2 | PATCH | Adjust permission to XXX0"
      ansible.builtin.lineinfile:
        path: /usr/lib/tmpfiles.d/systemd.conf
        regexp: '^([a-zA-Z](?:\+!?|!)?\s+/\S+\s+~?[0-7][0-7][0-7])[1-7](\s+.+)$'
        line: '\g<1>0\2'
        backrefs: true
        backup: true
      loop: "{{ range(0, perm_count.stdout | int) | list }}"

- name: "6.2.1.3 | PATCH | Ensure journald log file rotation is configured"
  when: suse15cis_rule_6_2_1_3
  tags:
    - level1-server
    - level1-workstation
    - patch
    - journald
    - rule_6.2.1.3
  notify: Restart journald
  block:
    - name: "6.2.1.3 | PATCH | Ensure journald log file rotation is configured | Add file"
      ansible.builtin.template:
        src: etc/systemd/journald.conf.d/rotation.conf.j2
        dest: /etc/systemd/journald.conf.d/rotation.conf
        owner: root
        group: root
        mode: 'u-x,g-wx,o-rwx'

    - name: "6.2.1.3 | PATCH | Ensure journald log file rotation is configured | comment out current entries"
      ansible.builtin.lineinfile:
        path: /etc/systemd/journal.conf
        regexp: "{{ item }}"
        line: "#\\1"
        backrefs: true
      failed_when: discovered_journald_conf.rc not in [ 0, 257 ]
      register: discovered_journald_conf
      loop:
        - "^(\\s*SystemMaxUse\\s*=.*)"
        - "^(\\s*SystemKeepFree\\s*=.*)"
        - "^(\\s*RuntimeMaxUse\\s*=)"
        - "^(\\s*RuntimeKeepFree\\s*=.*)"
        - "^(\\s*MaxFileSec\\s*=.*)"

- name: "6.2.1.4 | PATCH | Ensure only one logging system is in use"
  when: suse15cis_rule_6_2_1_4
  tags:
    - level1-server
    - level1-workstation
    - patch
    - journald
    - syslog
    - rule_6.2.1.4
  block:
    - name: "6.2.1.4 | PATCH | Ensure only one logging system is in use | when rsyslog"
      when:
        - suse15cis_syslog == "rsyslog"
        - '"systemd-journald" in ansible_facts.packages'
      ansible.builtin.systemd:
        name: systemd-journald
        state: stopped
        enabled: false

    - name: "6.2.1.4 | PATCH | Ensure only one logging system is in use | when journald"
      when:
        - suse15cis_syslog == "journald"
        - '"rsyslog" in ansible_facts.packages'
      ansible.builtin.systemd:
        name: rsyslog
        state: stopped
        enabled: false
