## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown

pool {{ suse15cis_time_pool_name }} {{ suse15cis_time_pool_options }}
