---

- name: "2.2.1 | PATCH | Ensure FTP client is not installed"
  when:
    - not suse15cis_ftp_client
    - suse15cis_rule_2_2_1
  tags:
    - level1-server
    - level1-workstation
    - patch
    - ftp
    - rule_2.2.1
    - NIST800-53R5_CM-7
  ansible.builtin.package:
    name: ftp
    state: absent

- name: "2.2.2 | PATCH | Ensure LDAP client is not installed"
  when:
    - not suse15cis_ldap_clients_required
    - suse15cis_rule_2_2_2
  tags:
    - level1-server
    - level1-workstation
    - patch
    - ldap
    - rule_2.2.2
    - NIST800-53R5_CM-7
  ansible.builtin.package:
    name: openldap2-clients
    state: absent

- name: "2.2.3 | PATCH | Ensure nis client is not installed"
  when:
    - not suse15cis_nis_client_required
    - suse15cis_rule_2_2_3
  tags:
    - level1-server
    - level1-workstation
    - patch
    - ldap
    - rule_2.2.3
    - NIST800-53R5_CM-7
  ansible.builtin.package:
    name: ypbind
    state: absent

- name: "2.2.4 | PATCH | Ensure telnet client is not installed"
  when:
    - not suse15cis_telnet_required
    - suse15cis_rule_2_2_4
  tags:
    - level1-server
    - level1-workstation
    - patch
    - telnet
    - rule_2.2.4
    - NIST800-53R5_CM-7
  ansible.builtin.package:
    name: telnet
    state: absent

- name: "2.2.5 | PATCH | Ensure TFTP client is not installed"
  when:
    - not suse15cis_tftp_client
    - suse15cis_rule_2_2_5
  tags:
    - level1-server
    - level1-workstation
    - patch
    - tftp
    - rule_2.2.5
    - NIST800-53R5_CM-7
  ansible.builtin.package:
    name: tftp
    state: absent
