- name: "4.1.1 | PATCH | Ensure a single firewall configuration utility is in use"
  when:
    - suse15cis_rule_4_1_1
    - suse15cis_firewall_package == 'firewalld'
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - nftables
    - rule_4.1.1
  ansible.builtin.systemd:
    name: nftables
    masked: true
  loop:
    - nftables
    - ufw
    - iptables
