## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company / Ansible Lockdown

cat <<EOF
set superusers="{{ suse15cis_grub_user }}"
password_pbkdf2 {{ suse15cis_grub_user }} {{ suse15cis_bootloader_password_hash }}
EOF
