# Configured via ansible for CIS baseline

[Upload]
URL={{ suse15cis_remote_log_server }}
ServerKeyFile={{ suse15cis_journal_upload_serverkeyfile }}
ServerCertificateFile={{ suse15cis_journal_servercertificatefile }}
TrustedCertificateFile={{ suse15cis_journal_trustedcertificatefile }}
